﻿<div class="jumbotron">
    <h1>Hino Estoque</h1>
    <p class="lead">Servidor de Gerenciamento das requisições do aplicativo de estoque</p>
    <p><a href="http://hinosistemas.com.br" class="btn btn-primary btn-lg">Veja mais &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Transferência de estoque</h2>
        <p>Transferência dos componentes necessários para Ordem de produção</p>
    </div>
    <div class="col-md-6">
        <h2>Contagens de inventário</h2>
        <p>Digitação das contagens das listas de invetário de estoque.</p>
    </div>
</div>

